@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

body {
  @apply leading-[normal] m-0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* overflow: hidden; */
}

*,
::before,
::after {
  border-width: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: max-content;
  padding: 100px;
}

.head-1 {
  border: 1px solid black;
  padding: 0 10%;
  color: rgb(0, 115, 255);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: left;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h3 {
  font-size: 25px;
}

.chain,
.asset,
.amount,
.address {
  margin: 20px 0;
}

button {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  width: max-content;
  background-color: #ff7d5a;
  color: white;
  border-radius: 5px;
  border: 2px solid #ff7d5a;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}


input{
  border: 2px solid black;
  width: 50%;
}