@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
::before,
::after {
  border-width: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: max-content;
  padding: 100px;
}

.head-1 {
  border: 1px solid black;
  padding: 0 10%;
  color: rgb(0, 115, 255);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: left;
}

h3 {
  font-size: 25px;
}

.chain,
.asset,
.amount,
.address {
  margin: 20px 0;
}

button , a {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 15px;
  width: max-content;
  background-color: rgb(0, 115, 255);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(0, 115, 255);
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}

h1{
  color: orange;
  font-size: 30px;
  font-weight: bolder;
}
span{
  color: black;
  font-weight: bolder;
  font-size: 45px;
}

.container{
  width: 90%;
  margin-inline: auto;
  text-align: center;
}

<<<<<<< HEAD
td{
  text-align: center;
}
=======

/* ------------------Registeration Form CSS--------------------- */


body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signupbtn {
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0;
  text-align: center;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

 /* ------------------Registeration Form CSS--------------------- */
>>>>>>> cdd2d83108c72ee50affe6beed4fada18c283fdb
